
body{
    background: #000000f0;
}
header h3{
    font-family: 'Kaushan Script', cursive;
    font-size: 2.5em;
}
.itemLabel{
    cursor: pointer;
}
.itemIcon{
    padding: 15px;
    margin: 25px 30px 0px 30px;
    cursor:pointer;
}
.f1{
    height: 200px;
    border: 3px solid #ffdfb6;
    background: rgba(252, 151, 19, 0.925)
}
a{
    color: initial;
}
.itemFrame{
    z-index: 12;
    margin: 25px;
}
.itemFrame:hover span, .itemFrame:hover i{
    color:#fff 
}
.itemLabel.active{
    font-weight:bold;
    color:#fff;
}
.fa-heartbeat.activate{
    color:#F44336 !important;
}
.fa-shield.activate{
    color:#0008ffcf !important;
}
.fa-bolt.activate{
    color:#ffed52 !important;
}
.fa-lightbulb-o.activate{
    color:#006947 !important;
}

