body,html{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x:hidden;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande'
}
textarea.form-control{
    max-height: 4rem;
}
.userInfo input{
    font-size: 2rem !important;
    resize: "none" !important;
    padding: 0px;
    color: #111;
    min-height: 4rem;
    margin:auto 0px;
}
@keyframes appear{
    from{opacity: 0.3}
    to{opacity: 1.0}
}
#playerSelect .card{
    opacity:1;
}
#playerSelect .card.activate{
    opacity: 0.3;
}
#playerSelect .card.activate:hover{
    cursor: pointer;
    animation-name: appear;
    animation-direction:alternate;
    animation-duration: 0.4s;
    opacity:1;
}
.shadowed{
    text-shadow: 1px 0px 2px black
}
a:focus,a:visited{
    color: initial;
    text-decoration:none;
}
div#start{
    color: #cacacafd;
}
div#start:hover{
    color: #ff9945;
    cursor: pointer;
}
a:hover,#hideme span:hover{
    text-decoration:underline;
    text-decoration-color: #333;
}
a{text-decoration: none;}
.close{
    float: none;
}
body{
    background: #000000bb;
    color: none;
}
header h3{
    font-family: 'Kaushan Script', cursive;
    font-size: 2.5em;
}
.itemVal{
    font-size: 1.5em;
    display:inline-flex;
    padding: 5px;
    border-bottom: 1px solid #fff;

}

.hider{
    font-size:0.5em;
    top:10px; 
    left: 10px;
}
.itemIcon{
    padding: 15px;
    margin: 5px 30px 0px 30px;
}

.f1{
    min-height: 195px;
    margin: auto;
    border: 3px solid #ffdfb6;
    background: rgba(252, 151, 19, 0.825)
}
.itemFrame{
    margin: 20px 35px 20px 35px;
    cursor:pointer;
}
.itemFrame:hover .itemLabel,
.itemFrame:hover .itemIcon{
    color:#fff 
}
.fa-heartbeat.activate{
    color:#F44336 !important;
}

.fa-shield.activate{
    color:#0008ffcf !important;

}
.fa-bolt.activate{
    color:#ffed52 !important;
}
.fa-lightbulb-o.activate{
    color:#006947 !important;
}
.activate{
    border:none
}

